<header>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="../../css/components/navbar.css">
    <div class="container">
        <a id="logo" href="/index.html">
            <h1 class="logo">25<span class="logo-accent">News</span></h1>
        </a>
        <nav>
            <a href="/index.html" class="nav-link">Home</a>
            <a href="/html/world/world.html" class="nav-link">World</a>
            <a href="/html/sport/sport.html" class="nav-link active">All Sport</a>
            <a href="/html/football.html" class="nav-link">Football</a>
            <a href="/html/esports.html" class="nav-link">Esports</a>
            <a href="/html/about.html" class="nav-link">About</a>
            <a href="/html/contact.html" class="nav-link">Contact</a>
            <a href="/html/privacy.html" class="nav-link">Privacy Policy</a>
        </nav>
        <button id="theme-toggle" aria-label="Toggle dark mode">
            <i class="fas fa-moon"></i> <!-- Moon icon for dark mode -->
        </button>
    </div>
</header> 